<%= div_for(@todo_items.incomplete) do |item| %>
  <h3><%= item.title %></h3>
  <% if item.deadline %>
    <p><strong>Deadline:</strong> <%= item.deadline %></p>
  <% end %>
  <p><strong>Status:</strong> <%= item.status %> <strong>Priority:</strong> <%= item.priority %></p>
  <p><strong>Description:</strong> <%= item.description %></p>
  <table>
    <tbody>
      <tr>
        <td><%= link_to 'Mark Completed', [@user, item], method: :patch, status: 'Complete' %></td>
        <td><%= link_to 'Show', [@user, item] %></td>
        <td><%= link_to 'Edit', edit_user_todo_item_path(@user, item) %></td>
        <td><%= link_to 'Delete', [@user, item], method: :delete %></td>
      </tr>
    </tbody>
  </table>
  <br />
<% end %>
