<h1>Editing Item: "<%= @todo_item.title %>"</h1>

<%= render 'form' %>

<%= link_to 'Show All To-Do Items', user_todo_items_path(@user) %> |
<%= link_to 'Show', user_todo_item_path(@user, @todo_item) %> |
<%= link_to 'Back', user_todo_items_path(@user) %>
