<table>
  <tr>
    <td>
      <%= form_for @task, url: mark_complete_url(@task) do |f| %>
        <%= f.button '', name: 'task[complete]',
                         value: '1',
                         class: 'fa fa-check btn btn-info btn-circle mark-complete',
                         method: :patch,
                         "data-remote" => true %>
      <% end %>
    </td>
    <td class="todo-list-item-title">
      <%= link_to  "#{@task.title}", "#", remote: true %>
    </td>
  </tr>
  <tr class="task-details">
    <td></td>
    <td>
      <% status = if @task.complete? then "Complete"; else "Incomplete"; end %>
      <p><strong>Status:</strong> <%= status %></p>
    </td>
  </tr>
  <tr class="task-details">
    <td></td>
    <td>
      <%= link_to 'Edit', edit_task_path(@task), class: "ajax-link", remote: true %> 
      | <%= link_to 'Delete', @task, class: "ajax-link", remote: true, method: :delete, data: {confirm: 'Are you sure?' } %>
    </td>
  </tr>
</table>