<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td class="header-column">Title:</td>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <td class="header-column">Status:</td>
    <% status = if @task.complete? then 'Complete'; else 'Incomplete'; end %>
    <td><%= status %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
